header{
	display: flex;
    background-color: #2a6565;
	padding: 20px 0px 20px 70%;

}
body{
	margin: 0px;
}

.parties {
	text-align: center;
    background: linear-gradient(141deg, #eedcdc 2%, #a7caf5 30%);
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 300;
	padding: 0px 100px;
}

.haut{
	padding: 5% 0% 10% 0% ;
    display: grid;
}
.haut p{
	color: #000000;
}


.contenue{
	display: grid;
	gap: 100px;
}
.lien{
	height: 40px;
	background-color: rgb(253, 253, 253);
	opacity: 1;
	margin: 0px 20px;
}
.lien a {
    text-decoration: none;
	
	background-color: #2a6565;
	height: 50px;
    font-size: 20px;
	color:rgb(255, 255, 255);
	position: relative;
	font-family:Georgia, 'Times New Roman', Times, serif;
	display: flex;
	height: 40px;
}
.lien a:hover {
	
  height: 36px;
  opacity: 1;

}

.frame_titre{
	background-color: #2a6565;;
	padding: 10px 0px;
	font-size: 5rem;
}

.case_img img{
	width: 100%;
	border-radius: 20px;
}

p{
	font-size: 2rem;
	text-decoration: none;
	color: #ffffff;
}

